/**
	@ PURPOSE : STYLES THE LIGHTNING COMPONENT --> ManualTimeTrackerCmp.cmp
	@ NAME	  : ManualTimeTrackerCmp.css
*/

.THIS .fieldWrapper { padding-bottom : .7rem; font-size: 0.8rem; }

/* ACITIVITY DATE TIME FIELD */
.THIS .slds-p-around_small, .THIS .slds-p-around--small { padding: .5rem; }

.THIS .requiredElement { color: rgb(194, 57, 52); }

.THIS .slds-form-element__label { display : none; visibility : hidden; }

.THIS .uiInput--default .form-element__label { line-height: 1.5; }

.THIS .inputTimer {	font-size: 2.5rem; font-style: normal; }

.THIS .clearSearch { height: 1.9rem; }

.THIS .slds-input { padding-left: 0.3rem; }

.THIS .uiInput--textarea .textarea { padding-left: 0.3rem; padding-top: .5rem; }

.THIS .uiInput--select.select:not([multiple]), .THIS .uiInput--select .select:not([multiple]), .THIS .uiInput--select .uiPopupTrigger a {
    padding-left: 0.3rem;
}

.THIS .uiInput--input .input, .THIS .uiInput--input.input { padding-left: 0.3rem; }

.THIS .timer { border-width: 0;	color : rgba(27, 82, 151, 1.0); }

.THIS .uiInput--datetime .datePicker-openIcon { bottom : 10px; }

.THIS .uiInput--datetime .timePicker-openIcon { bottom : 10px; }

.THIS .uiInput--default .form-element__help { margin-top: 0.1rem; }

.THIS .slds-lookup__list { border: 1px solid lightgrey; border-radius: 3px; }

.THIS .timerBtnGroup { padding-bottom: .4rem; }

.THIS .submitBtn { margin-top: 1.2rem !important; }

.THIS .slds-m-top--medium { margin-top: -0.1rem; }

.THIS .dropDownListSection { position: absolute; background: white; width: 100%; }

.THIS .blueTheme { color : rgba(27, 82, 151, 1.0); }

.THIS .disableCursor { cursor: not-allowed; }

.THIS .grayOut { color: gray; text-decoration: none; }

.THIS .slds-form-element__help { margin-top : 0; }

.THIS .hide-error-message .THIS .slds-form-element__help { display: none; }